- content_for :title do 
  kursy-app
  \|
  = @user.username

= render "users/user", user: @user
%br
= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post 
      
