%h3 
  User created per day
= line_chart charts_users_per_day_path
%h3 
  Enrollments created per day
= column_chart charts_enrollments_per_day_path
%h3 
  Course popularity
= bar_chart charts_course_popularity_path

%h3 
  Most paid courses:
= bar_chart charts_money_makers_path

