- content_for :title do 
  kursy-app
  \|
  = @enrollment

.card
  .card-header
    %h3
      .text-warning.fa.fa-star
      Add A Review
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show review', @enrollment
    \|
    = link_to 'Back to course', course_path(@enrollment.course)
