- content_for :title do 
  kursy-app
  \|
  = @enrollment

.card
  .card-header
    %h3
      .fa.fa-book
      Editing enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @enrollment
    \|
    = link_to 'Back', enrollments_path
