- content_for :title do 
  kursy-app
  \|
  New enrollment
.card
  .card-header
    %h3
      .fa.fa-book
      New enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', enrollments_path
