@import "bootstrap";
@import "bootstrap/scss/bootstrap.scss";
@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

footer {
    position: relative;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container {
    min-height: 100vh;
}

.form-control.is-invalid{ background-image: none;}
.form-control.is-valid{ background-image: none;}
a {
    text-decoration: none;
}


.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }