%hr
%footer.bg-dark{:style => "color: white;" }
  .container
    .row
      .col-md-4
        Copyright
        ©
        = Time.now.year
    
      = link_to "Privacy policy", privacy_policy_path
      